<footer class="small- large-12 columns footer">
	<div class="right">
		<a class="text-link" href="/feedback">Feedback</a>
		<a class="text-link" href="/about">About</a>
		<a class="text-link" href="/about_us">About Us</a>
		<!-- <a class="text-link" href="/privacy-terms">Privacy & Terms</a> -->
		<a class="icon-link" href="http://facebook.com"><i class="fa fa-facebook fa-2x"></i></a>
		<a class="icon-link" href="http://twitter.com"><i class="fa fa-twitter fa-2x"></i></a>
		<a class="icon-link" href="http://linkedin.com"><i class="fa fa-linkedin fa-2x"></i></a>
	</div>
</footer>