<% content_for :head do %>
	<%= stylesheet_link_tag 'about' %>
<% end %>

<div class="row">
	<div class="row">
		<div class="small-12 large-10 large-offset-1 columns about">
			<h3>About Us</h3>
			<p>SortMySkills is made up of one passionate product engineer and one aspiring data scientist.</p>

			<br>

			<h3>Mission</h3>
			<p>Our mission is to help people identify the skills they are passionate about, measure their current proficiency levels, and discover the job functions that use those skills. We aim to help individuals discover their passion, level up their skill, and self actualize.</p>

		</div>
	</div>

</div>