<div class="row">
	<h3>Privacy and Terms</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, aperiam nesciunt et eligendi reprehenderit ipsa officiis maxime. Aliquam, iure libero accusantium esse vero modi cumque quis quasi incidunt odit consectetur?</p>
</div>