<div class="row">
	<div class="small-12 large-8 small-centered large-centered columns">
		<h3>You will have to complete game <%= @game_title %> first.</h3>
		<br/><br/><br/>
		<a href="<%= @game_title_path %>" class="button radius">Play <%= @game_title %> now!</a>
	</div>
</div>