<% content_for :head do %>
	<%= stylesheet_link_tag "skillsort2" %>
<% end %>


<div class="container" ng-app="skillsortApp2" ng-controller="GameCtrl" game-type="2"></div>

<ol class="joyride-list" data-joyride>
  <li data-button="Next">
    <h4>Welcome to Game 2: Evaluate Proficiency</h4>
    <br>
    <p>Welcome! Game 2 helps you discover how proficient you are in each skill so you'll know where you are right now and what you need to do to get there.</p>
  </li>

  <li data-id="deck" data-button="Next" data-options="tip_location:left;">
    <p>Core skills are displayed on the stack of skill cards here with its description below.</p>
  </li>

  <li data-id="button-group" data-options="tip_location:bottom;">
    <p>Sort the skill cards relative to your own desired proficiency for each skill by selecting option 1 - 5.</p>
  </li>

  <li data-id="skillcard-1" data-button="Start Game!" data-options="tip_location:right;">
    <p>To return a card, click on the card to return it to the deck.</p>
  </li>
</ol>


<% content_for :page_scripts do %>
	<%= javascript_include_tag 'skillsort2' %>
<% end %>