<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Me</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  <link rel="shortcut icon" href="app/static/img/favicon.ico">
</head>

<body>
<div class="container">

  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="{{ url_for('index') }}">Back to Home</a></li>
    </ul>
  </nav>

  <div class="header">
    <h3 class="text-muted">About Me</h3>
  </div>

  <p>Eugene's mission is to use data to create positive impact and improve lives. He enjoys building data products and
    teams, and has a track record of delivering measurable value. </p>

  <p>
    Currently at <a href="https://www.linkedin.com/company/ucareai/">uCare.ai</a> applying data science on payer,
    provider, and patient data to improve healthcare, and building a strong data team to deliver measurable and scalable
    results. Also studying for the <a href="https://blog.datagene.io/2016/11/02/im-going-back-to-school/">Georgia
    Tech Masters of Science in Computer Science</a> part-time.
  </p>

  <!--<p>His work at IBM, Lazada (Alibaba), and now uCare.ai has provided experience in people-centric industries and data-->
  <!--such as workforce analytics, e-commerce, and healthcare. He is proficient in (i) communication, (ii) data-->
  <!--preparation, feature engineering, machine/deep learning, (iii) validation, A/B testing, (iv) production, (v) and-->
  <!--replicating research papers. He is keen to volunteer on data efforts in healthcare and education. </p>-->

  <!--<p>Commonly used technologies in his work include the Hadoop ecosystem (e.g., Hive, Spark) and the Python data science-->
  <!--stack (e.g., pandas, PyTorch, viz libraries). He is adept at Python, Scala, Spark, cloud, and engineering practices.-->
  <!--His interest in people has led to passion and proficiency in deep learning, especially sequential models and-->
  <!--reinforcement learning, to understand and predict human conditions and behaviour. </p>-->

  <p>
    In his free time, he builds and shares on <a href="{{ url_for('index') }}">datagene.io</a>, organizes
    meetups for <a href="http://www.meetup.com/DataScience-SG-Singapore/">DataScience SG</a>, volunteers
    with <a href="http://www.meetup.com/DataKind-SG/">DataKind SG</a>, and learns through
    the many MOOCs available.
  </p>

  <p>
    More about him here: <a href="https://www.linkedin.com/in/eugeneyan">LinkedIn</a>
  </p>

</div>
</body>

<script type="text/javascript" src="app/static/js/ga.js"></script>
</html>