<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About Me</title>
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">

            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="{{ url_for('index') }}">Back to Home</a></li>
                </ul>
            </nav>

            <div class="header">
                <h3 class="text-muted">About Me</h3>
            </div>

            <p>
                Hi, I'm Eugene Yan.
            </p>

            <p>My mission is to use data to create positive impact. I'm currently at
                <a href="http://www.lazada.com/about-us/">Lazada</a> working on product and user problems to improve the
                online shopping experience for shoppers and sellers across South-East Asia.
            </p>

            <p>
                In my free time, I build and share on <a href="{{ url_for('index') }}">datagene.io</a>, organize
                meetups for <a href="http://www.meetup.com/DataScience-SG-Singapore/">DataScience SG</a>, volunteer
                with <a href="http://www.meetup.com/DataKind-SG/">DataKind SG</a>, and learn through
                the many MOOCs available.
            </p>

            <p>
                More about me here: <a href="https://www.linkedin.com/in/eugeneyan">LinkedIn</a>
            </p>

        </div>
    </body>

</html>