<!DOCTYPE html>
<html lang="en">

<head>
  <title>Image Search (beta)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="app/static/img/favicon.ico">
</head>

<body>
<div class="container">

  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="{{ url_for('index') }}">Back to Home</a></li>
    </ul>
  </nav>

  <div class="header">
    <h3 class="text-muted">Image Search (beta)</h3>
  </div>

  <p>Searches, using uploaded image, from ~200k products across 8 categories.</p>

  <form enctype="multipart/form-data" action="{{ url_for('image_search_web') }}" method="POST">
    <div class="input-group">
      <label class="input-group-btn">
                <span class="btn btn-primary">
                    Browse &hellip; <input type="file" name="image" style="display: none;" multiple>
                </span>
      </label>
      <input type="text" class="form-control" readonly>
    </div>
    <span class="help-block">Browse and select a file</span>

    <form class="form-inline">
      <div class="form-group">
        <div class="dropdown">
          <input class="span2" id="category" name="category" type="hidden">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdown"
                  data-toggle="dropdown" style="width: 215px"><span id="selected">Select a Category
            </span> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdown">
            <li onclick="$('#category').val('All'); $('#category').submit()">
              <a role="menuitem" tabindex="-1" href="#">All</a></li>
            <li onclick="$('#category').val('Cell Phones & Accessories'); $('#category').submit()">
              <a role="menuitem" tabindex="-1" href="#">Cell Phones & Accessories</a></li>
            <li onclick="$('#category').val('Clothing, Shoes & Jewelry'); $('#category').submit()">
              <a role="menuitem" tabindex="-1" href="#">Clothing, Shoes & Jewelry</a></li>
            <li onclick="$('#category').val('Electronics'); $('#category').submit()">
              <a role="menuitem" tabindex="-1" href="#">Electronics</a></li>
            <li onclick="$('#category').val('Home & Kitchen'); $('#category').submit()">
              <a role="menuitem" tabindex="-1" href="#">Home & Kitchen</a></li>
            <li onclick="$('#category').val('Office Products'); $('#category').submit()">
              <a role="menuitem" tabindex="-1" href="#">Office Products</a></li>
            <li onclick="$('#category').val('Sports & Outdoors'); $('#category').submit()">
              <a role="menuitem" tabindex="-1" href="#">Sports & Outdoors</a></li>
            <li onclick="$('#category').val('Tools & Home Improvement'); $('#category').submit()">
              <a role="menuitem" tabindex="-1" href="#">Tools & Home Improvement</a></li>
            <li onclick="$('#category').val('Toys & Games'); $('#category').submit()">
              <a role="menuitem" tabindex="-1" href="#">Toys & Games</a></li>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <label class="btn btn-primary"> Submit <input type="submit" style="display: none;" value="submit"> </label>
      </div>
    </form>
  </form>

  <br>

  <div class="form-inline">
    {% for key, value in result.iteritems() %}
    <div class="form-group">
      <div class="card" style="width: 22rem; height: 32rem; border-style: solid; border-color: #D6DBDF;
        border-width: 1px; margin: 5px; border-radius: 10px; padding: 10px;">
        <div class="card-image" style="width: 20rem; height: 15rem">
          <img class="img-responsive" src="{{url_for('static', filename='{}'.format(value[0]), width=100)}}"
               alt="Product image" style="border-radius: 10px; max-height: 100%; max-width: 100%;
                     margin-left: auto; margin-right: auto;">
        </div>
        <div class="card-block">
          <h5 class="card-text">{{ '{}'.format(value[1]) }}</h5>
          <p class="card-text" style="color: #808B96; font-size: 12px; text-overflow: ellipsis;">
            {{ 'Category: {}'.format(value[2]) }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <br>
  <ul class="list-group">
    <li style="text-align: left" class="list-group-item"> {{ 'Time taken: {:.2f} milliseconds'.format(elapsed_time) }}
    </li>
  </ul>

  <footer class="footer">
    <p>&copy; eugeneyan 2016</p>
  </footer>
</div>
</body>

<script type="text/javascript" src="app/static/js/uploadimage.js"></script>
<script type="text/javascript" src="app/static/js/truncatetitle.js"></script>
<script type="text/javascript" src="app/static/js/truncatecategory.js"></script>
<script type="text/javascript" src="app/static/js/updatedropdown.js"></script>
<script type="text/javascript" src="app/static/js/ga.js"></script>
</html>