<!DOCTYPE html>
<html lang="en">

<head>
  <title>Image Classification</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" type="text/javascript"></script>
  <link rel="shortcut icon" href="app/static/img/favicon.ico">
</head>

<body>
<div class="container">

  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="{{ url_for('index') }}">Back to Home</a></li>
    </ul>
  </nav>

  <div class="header">
    <h3 class="text-muted">Image Classification</h3>
  </div>

  <p>Suggests five Amazon fashion categories (out of 70) to place a product in based on image.
    Works best with e-commerce fashion images on white background (because that's what it's trained on). </p>
  <p> Top-1 validation accuracy: 0.760, Top-5 validation accuracy: 0.974 </p>

  <form enctype="multipart/form-data" action="{{ url_for('image_categorize_web') }}" method="POST">
    <div class="input-group">
      <label class="input-group-btn">
                <span class="btn btn-primary">
                    Browse &hellip; <input type="file" name="image" style="display: none;" multiple>
                </span>
      </label>
      <input type="text" class="form-control" readonly>
    </div>
    <span class="help-block">
            Browse and select a file
        </span>

    <div class="form-group">
      <label class="btn btn-primary"> Submit <input type="submit" style="display: none;" value="submit"> </label>
    </div>
  </form>

  <br>
  <ul class="list-group-item active">
    Category Suggestions
  </ul>
  {% for key, value in result.iteritems() %}
  <li style="text-align: left" class="list-group-item"> {{ '{} ({:.2f})'.format(value[0], value[1]) }}</li>
  {% endfor %}

  <br>
  <ul class="list-group">
    <li style="text-align: left" class="list-group-item"> {{ 'Time taken: {:.2f} milliseconds'.format(elapsed_time) }}
    </li>
  </ul>

  <footer class="footer">
    <p>&copy; eugeneyan 2016</p>
  </footer>
</div>
</body>

<script type="text/javascript" src="app/static/js/uploadimage.js"></script>
<script type="text/javascript" src="app/static/js/ga.js"></script>
</html>