<!DOCTYPE html>
<html lang="en">

<head>
  <title>datagene.io</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="NnCBmfLBxVuWwl7qAkA-NhGcOT006AY7R4AqBGUfbsg"/>
  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  <link rel="stylesheet" href="app/static/css/styles.css">
  <link rel="shortcut icon" href="app/static/img/favicon.ico">
</head>

<body>
<div class="container">
  <div class="header">
    <img src="app/static/img/favicon.ico" alt="datagene logo" style="width:38px;height:38px;">
    <h3 class="text-muted">APIs built while exploring new techniques / technologies</h3>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">

      <h4><a href="{{ url_for('categorize_web') }}">Product Classification</a></h4>
      <p>Suggests three Amazon categories to place your product based on its title.</p>

      <h4><a href="{{ url_for('image_categorize_web') }}">Image Classification</a></h4>
      <p>Suggests five Amazon fashion categories to place your product based on its image.</p>

      <h4><a href="{{ url_for('image_search_web') }}">Image Search (beta)</a></h4>
      <p>Searches for similar products based on image.</p>

      <p><br></p>

    </div>

    <div class="col-lg-6">

      <h4><a href="http://datagene.io:6689/play-game/1">SortMySkills</a></h4>
      <p>Discover your passion by sorting skills to find out what you like and don't like.</p>

      <h4>Review Topic Modelling (in progress...)</h4>
      <p>Summarize and understand review topics and sentiment.</p>

      <h4></h4>
      <p></p>

    </div>
  </div>

  <footer class="footer">

    <a href="{{ url_for('acknowledgements') }}">Acknowledgements</a>
    <b>&emsp;</b>

    <a href="https://blog.datagene.io">Blog</a>
    <b>&emsp;</b>

    <a href="{{ url_for('about_me') }}">About Me</a>
    <p>

    <p>&copy; eugeneyan 2016</p>
  </footer>
</div>
</body>

<script>
    // Google Analytics Tracker JS
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-85787628-1', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');

</script>
</html>