<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Datagene APIs</title>
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <div class="header">
                <h3 class="text-muted">APIs for categorization, review analysis, etc</h3>
            </div>

            <div class="row marketing">
                <div class="col-lg-6">

                    <h4><a href="{{ url_for('categorize_web') }}">Product Categorization</a></h4>
                    <p>Suggests three categories to place your product based on its title.</p>

                    <h4>Review Analysis (coming soon...)</h4>
                    <p>Analyzes review including sentiment, etc.</p>

                    <h4>Image Identification (coming soon...)</h4>
                    <p>Identifies the image via neural networks.</p>

                </div>

                <div class="col-lg-6">

                    <h4>Recommendation (coming soon...)</h4>
                    <p>Browse through movies and see what is recommended for you.</p>

                    <h4>TBC (coming soon...)</h4>
                    <p>TBC</p>

                    <h4>TBC (coming soon...)</h4>
                    <p>TBC</p>

                </div>
            </div>

            <footer class="footer">
                <p>&copy; eugeneyan 2016</p>
            </footer>
        </div>
    </body>

</html>